@use "../../utils/variables";

.MusicEditBlock {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;
  flex-direction: column;
  .userInfo {
    width: 100%;
    height: 100px;
    background: variables.$primaryMain;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 200px;
    box-sizing: border-box;
    margin-bottom: 30px;
    .avatar {
      width: 75px;
      margin-right: 100px;
      img {
        border-radius: 50px;
        width: 100%;
        height: 100%;
      }
    }
    .name {
      p {
        font-size: 20px;
        color: variables.$white100Color;
        span {
          margin: 0 10px;
        }
      }
    }
  }
  .infoBlock {
    font-size: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: 15%;
    .musicId {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-size: 24px;
    }
    span {
      margin-left: 10px;
      color: variables.$white100Color;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .flexWrapper {
      display: flex;
      justify-content: space-between;
    }
    .inputBlock {
      margin-bottom: 20px;
      width: 400px;
      .MuiFormHelperText-root {
        color: variables.$errorColor !important;
      }
      label {
        color: variables.$white75Color !important;
      }
      input {
        color: variables.$white100Color !important;
        &:focus, &:hover {
          outline: none;
        }
      }
      .title {
        margin-bottom: 7px;
        color: variables.$white75Color !important;
      }
      .helper {
        font-size: 12px;
        font-style: italic;
        color: variables.$white100Color !important;
        margin-bottom: 7px;
      }
      input[type="file"] {
        font-size: 16px;
        width: 100%;
        font-style: italic;
      }
      .uploadError {
        margin-top: 10px;
        font-size: 14px;
        font-style: italic;
        color: variables.$errorColor;
      }
      textarea {
        font-size: 16px;
        resize: none;
        width: 100%;
        height: 200px;
        padding: 7.5px 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid variables.$primaryMain;
        background: variables.$darkBackground;
        color: variables.$white100Color;
        &:focus, &:hover {
          outline: none;
        }
      }
    }
  }
  .addButton {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    height: 30px;
    background: variables.$primaryMain;
    color: variables.$white100Color;
    &:hover {
      background: variables.$primaryTransparent;
      text-decoration: none;
    }
  }
  .editInfo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 100px;
    height: 30px;
    background: variables.$primaryMain;
    color: variables.$white100Color;
    &:hover {
      background: variables.$primaryTransparent;
      text-decoration: none;
    }
  }
}