@use "utils/variables";

html,
body,
#root {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
* {
  font-family: "UbuntuNormal", sans-serif !important;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@font-face {
  font-family: "UbuntuNormal";
  src: local("Ubuntu"), url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuBold";
  src: local("Ubuntu"), url("./fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.page {
  min-height: 100vh;
  max-height: fit-content;
  width: 100vw;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./assets/background.png") black no-repeat;
  background-size: 100vw;
  .container {
    max-width: 1540px;
    margin: auto;
    padding: 150px 50px 50px 50px;
    box-sizing: border-box;
  }
}

.searchBar {
  margin-bottom: 30px;
  position: relative;
  img {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 16px;
    height: 16px;
  }
  input {
    padding: 7.5px 15px 7.5px 33px;
    height: 32px;
    width: 520px;
    background: variables.$darkBackground;
    border: 1px solid variables.$primaryMain;
    color: variables.$white100Color;
    border-radius: 20px;
    box-sizing: border-box;
    &:focus, &:hover {
      outline: none;
    }
  }
}