@use "../../utils/variables";

.UserInfoEditBlock {
  position: relative;
  display: flex;
  height: 70vh;
  .userId {
    margin-bottom: 10px !important;
    color: variables.$white100Color;
  }
  .avatarBlock {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    .avatar {
      img {
        border-radius: 50px;
        width: 100%;
      }
    }
    .deleteButton {
      margin-top: 20px;
      width: 200px;
      background: variables.$primaryMain;
      color: variables.$white100Color;
      &:hover {
        background: variables.$primaryTransparent;
        text-decoration: none;
      }
    }
  }
  .infoBlock {
    font-size: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: 15%;
    span {
      margin-left: 10px;
      color: variables.$white100Color;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .inputBlock {
      margin-bottom: 20px;
      width: 400px;
      .MuiFormHelperText-root {
        color: variables.$errorColor !important;
      }
      label {
        color: variables.$white75Color !important;
      }
      input {
        color: variables.$white100Color !important;
        &:focus, &:hover {
          outline: none;
        }
      }
      .title {
        margin-bottom: 7px;
        color: variables.$white75Color !important;
      }
      textarea {
        font-size: 16px;
        resize: none;
        width: 100%;
        height: 200px;
        padding: 7.5px 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid variables.$primaryMain;
        background: variables.$darkBackground;
        color: variables.$white100Color;
        &:focus, &:hover {
          outline: none;
        }
      }
    }
    .userRole {
      margin-bottom: 20px;
      width: 400px;
      display: flex;
      align-items: center;
      p {
        margin-right: 20px;
      }
      .roleButtons {
        width: 140px;
        box-sizing: border-box;
        button {
          color: variables.$white100Color;
          text-transform: none;
          height: 25px;
          width: 70px;
          box-sizing: border-box;
          background: variables.$primaryTransparent;
          border-radius: 0;
          &.active {
            background: variables.$primaryMain;
            text-decoration: underline;
          }
          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
  .editInfo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 100px;
    height: 30px;
    background: variables.$primaryMain;
    color: variables.$white100Color;
    &:hover {
      background: variables.$primaryTransparent;
      text-decoration: none;
    }
  }
}