$primaryMain: rgba(255, 158, 13, 1);
$primarySecondary: rgba(254, 102, 0, 1);
$primaryTransparent: rgba(255, 158, 13, 0.7);
$darkBackground: rgba(11, 13, 17, 0.9);

$errorColor: rgba(255, 51, 51, 1);

$white100Color: rgba(255, 255, 255, 1);
$white75Color: rgba(255, 255, 255, 0.75);
$white50Color: rgba(255, 255, 255, 0.5);
$white25Color: rgba(255, 255, 255, 0.25);
